---
layout: post-index
title: Ben Coleman
comments: false
image:
  feature: header/h17.svg
---
{% for post in paginator.posts %}

{% if post.link %}
  {% capture post_url %}{{ post.link }}{% endcapture %}
  {% capture post_title %}{{ post.title }} &nbsp; <i class="fas fa-external-link"></i>{% endcapture %}
{% else %}
  {% capture post_url %}{{ site.url }}{{ post.url }}{% endcapture %}
  {% capture post_title %}{{ post.title }}{% endcapture %}
{% endif %}

<article class="hentry">
  <header>
    {% if post.image.feature %}
      <div class="entry-image-index" style="background-image: url({{ site.url }}/images/{{ post.image.feature }});">
        <a href="{{ post_url }}" title="{{ post.title }}">
          <h1>{{ post_title }}</h1>
        </a>
      </div><!-- /.entry-image -->
    {% endif %}

    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="far fa-clock"></i>
        {% include read-time-index.html %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
  </header>

  <div class="entry-content">
    {% if post.link %}<br/>{% endif %}
    {{ post.excerpt }}
  </div><!-- /.entry-content -->

</article><!-- /.hentry -->
{% endfor %}

{% include pagination.html %}